.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache

# Build
build
*.egg-info

# Pipeline run
.snakemake/**
logs/*
workflow/tools/*
assemblies

# Test data
*.raw
